main {
  display: flex;
  font-display: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}

.city-landmark-container {
  width: 70%;
}

.city {
  background-color: white;
  margin-top: 1em;
}

.landmarks {
  background-color: white;
  margin-top: 1em;
}

aside {
  width: 22%;

  background-color: white;
  margin-top: 1em;
}

.landmarks h3 {
  text-align: center;
}

.landmark__list {
  flex: 1;
}

.landmark_list_container {
  display: flex;
  justify-content: space-evenly;
}
